@import-normalize; /* bring in normalize.css styles */

body {
  background-color: #353659;
  padding: 30px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border: none;
  border-radius: 10px;
  min-height: 30px;
  min-width: 120px;
  background-color: #181b73;
  color: aliceblue;
}

button:hover {
  font-weight: 700;
  cursor: pointer;
}
